@import '../../styles/config';

h1 {
  text-align: center;
}

.list {
  display: flex;
  gap: $default-gap;

  margin-top: $default-margin;

  overflow: scroll; // ONLY FOR TESTS

  .item {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    gap: $button-gap;

    background-color: $color-red;
    border-radius: $default-border-radius;
    padding: $button-padding;

    color: $color-white;

    cursor: pointer;
    transition: background-color $default-transition;

    img {
      min-width: 36px;
      min-height: 36px;

      width: 36px;
      height: 36px;
    }

    &:hover:not(.active) {
      background-color: $color-orange;
    }
  }

  .active {
    background-color: $color-yellow;
  }
}
