@import '../../styles/config';

.burgers {
  background-color: $color-pink;
  padding: $section-padding 0;

  .wrapper {
    background-color: $color-white;
    border-radius: $default-border-radius;
    padding: $section-padding;

    .burgersTop {
      display: flex;
      justify-content: space-between;
      align-items: center;
      gap: $default-gap;
    }

    .burgersGrid {
      display: flex;
      justify-content: space-evenly;
      align-items: center;

      gap: $default-gap;

      flex-wrap: wrap;

      margin-top: $default-margin;
    }
  }
}
