@import '../../styles/config';

.burgersTop {
  display: flex;
  justify-content: space-between;
  align-items: center;
  gap: $default-gap;
}

.burgersGrid {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-template-rows: repeat(3, 1fr);
  grid-column-gap: $default-gap;
  grid-row-gap: $default-gap;

  margin-top: $default-margin;

  @media (max-width: 1020px) {
    grid-template-columns: repeat(2, 1fr);
    grid-template-rows: repeat(4, 1fr);
  }

  @media (max-width: 730px) {
    grid-template-columns: repeat(1, 1fr);
    grid-template-rows: repeat(8, 1fr);
  }
}
